%h1 Edit Book
= form_for @book do |f|
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :author
    %br
    = f.text_field :author
  %p
    = f.label :genre
    %br
    = f.select :genre, options_for_select(Book::GENRES, @book.genre)
  %p
    = f.submit
    or
    = link_to "Return", books_path


